@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-PgFkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-BQCkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-C0Ckqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787weuyJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787wsuyJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvCJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787z5vCJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchm-A.ttf) format('truetype');
}
body {
  display: flex;
}
nav {
  width: 20%;
  margin: auto 0;
  position: fixed;
}
nav ul {
  padding-left: 30px;
  padding-top: 100px;
}
nav ul a {
  text-decoration: none;
  color: #4c4c4d;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 40px;
  transition: all 0.2s ease-out;
}
nav ul a:hover {
  color: #000000;
  border-bottom: 3px solid #1eafed;
}
nav .active {
  color: #1eafed;
  border-bottom: 3px solid #1eafed;
}
nav .logo {
  background: url(../images/bg_1.jpg) no-repeat center / cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Abril Fatface', cursive;
  font-size: 74px;
}
nav .sub_block {
  padding-left: 15px;
  padding-top: 30%;
}
nav .sub_block h4 {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 30px;
}
nav .sub_block input {
  border: 1px solid #1eafed;
  height: 50px;
  width: 340px;
}
nav .sub_block .fa-paper-plane {
  position: relative;
  right: 30px;
  color: #4c4c4d;
}
nav .sub_block input::placeholder {
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
}
nav .sub_block p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  line-height: 25px;
  color: #4c4c4d;
}
nav .sub_block p span {
  color: #000000;
}
main {
  width: 50%;
  margin: 0 0 0 25%;
  padding-top: 50px;
  border-left: 1px solid #e9e9e9;
  opacity: 0;
  animation: show 3s forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .post_block {
  padding-left: 50px;
  margin-bottom: 50px;
}
main .post_block h2 {
  font-family: 'Lora', serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  padding-right: 25px;
  padding-bottom: 20px;
}
main .post_block .post_block_text {
  display: flex;
}
main .post_block img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin-right: 30px;
}
main .post_block p {
  font-family: 'Poppins', sans-serif;
  color: #cdcdcd;
}
main .page_button {
  margin: 50px 10px;
  display: flex;
}
main .page_button a {
  display: block;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #1eafed;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #1eafed;
  text-align: center;
}
main .page_button .active_btn {
  background-color: #1eafed;
  color: white;
}
.block_anim {
  opacity: 0;
  animation: show 3s forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
aside {
  opacity: 0;
  animation: show 3s forwards;
  width: 26%;
  background-color: #f8f9fb;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
aside .h4 {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #4c4c4d;
  padding-bottom: 25px;
}
aside .search_bar {
  position: relative;
  margin: 70px 50px;
}
aside input {
  border: 1px solid #cdcdcd;
  height: 50px;
  width: 100%;
}
aside .fa-magnifying-glass {
  position: absolute;
  top: 40%;
  right: 5%;
}
aside input::placeholder {
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
}
aside .categories {
  padding-left: 35px;
  line-height: 50px;
}
aside .categories h4 {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #4c4c4d;
  padding-bottom: 25px;
}
aside .categories a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}
aside .categories span {
  float: right;
  color: #cdcdcd;
}
aside .categories li {
  border-bottom: 1px solid #cdcdcd;
  margin-right: 50px;
}
aside .aside_articles {
  padding-top: 40px;
  padding-left: 35px;
}
aside .aside_articles h4 {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #4c4c4d;
  padding-bottom: 25px;
}
aside .aside_articles .article_block {
  margin-right: 50px;
  line-height: 25px;
}
aside .aside_articles .article_block img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  float: left;
  padding-right: 10px;
}
aside .aside_articles .article_block a {
  font-family: 'Lora', serif;
  text-decoration: none;
  color: #000000;
  padding-right: 10%;
  transition: all 0.2s ease-in-out;
}
aside .aside_articles .article_block a:hover {
  color: #1eafed;
}
aside .aside_articles .article_block span {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: #4c4c4d;
}
aside .aside_articles .article_block span i {
  margin: 0 5px;
}
aside .tag_block {
  margin: 0 50px 0 50px;
  padding-top: 20px;
}
aside .tag_block h4 {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #4c4c4d;
  padding-bottom: 25px;
}
aside .tag_block a {
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  line-height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
  padding: 7px;
  overflow: hidden;
}
aside .tag_block a:hover {
  border: 1px solid #000000;
}
aside .newsletter .filter {
  margin-top: 40px;
  background: url(../images/bg_1.jpg) 50% 25% no-repeat;
  filter: brightness(40%);
  background-position: center;
  background-size: 500px;
  width: 26%;
  height: 320px;
  position: absolute;
}
aside .newsletter .news_text {
  position: relative;
}
aside .newsletter .news_text h4 {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #4c4c4d;
  padding-bottom: 25px;
  color: white;
  padding-top: 20%;
  padding-left: 40px;
  padding-right: 10%;
}
aside .newsletter .news_text p {
  font-family: 'Poppins', sans-serif;
  color: #cdcdcd;
  line-height: 25px;
  padding-top: 20%;
  padding-left: 40px;
  padding-right: 10%;
  padding-top: 10px;
}
aside .newsletter .news_text .btn_size {
  height: 50px;
  width: 75%;
  margin: 5% 10%;
}
aside .newsletter .news_text input {
  height: 50px;
  width: 75%;
  margin: 5% 10%;
  background: transparent;
  border: 1px solid #cdcdcd;
}
aside .newsletter .news_text input::placeholder {
  color: #cdcdcd;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
aside .newsletter .news_text button {
  height: 50px;
  width: 75%;
  margin: 5% 10%;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #fff;
}
aside .paragraph_block p {
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
  color: #4c4c4d;
  margin: 0 35px;
  font-size: 0.9rem;
}
aside .paragraph_block h4 {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #4c4c4d;
  padding-bottom: 25px;
  margin: 25px 35px 0;
}
